/* Taken from w3school */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    box-sizing: border-box;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0 20px 20px 20px;
    border: 1px solid #888;
    width: 80%;
    height: 100%;
    padding-bottom: 40px;  
    box-sizing: border-box;
}

#myModal{
    overflow: hidden;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#hero-picker-container{
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.hero-picker-img-container{
    display: inline-block;
}

.hero-picker-img {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.hero-name{
    text-align: center;
    padding: 0;
    margin: 0 0 30px 0;
}


#hero-picker-container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

#modal-header {
    float: top;
    width: 100%;
    margin: 0 auto;
}

@media(min-width: 400px) {
    .hero-picker-img-container{
        margin: 10px; 
    }
}






