body {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial, helvetica, sans-serif;
    background-color: #e5efff; /* light blue */
    color: #565353; /* dark grey */
}

h3 {
	padding: 0px;
	margin: 0px;
}


td {
	border-radius: 5px;
	border-style: solid;
    border-width: 1px;
    background-color: #ffdc9a; /* orange */
}

table{
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 60px;
	padding-left: 8px;
	padding-right: 8px;
}
