body {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial, helvetica, sans-serif;
    background-color: #e5efff; /* light blue */
    color: #565353; /* dark grey */
}

h1{
	text-align: center;
}

#OverDexBanner {
	width: 100%;
	max-width: 800px;
}

#firebaseui-auth-container {

}